@font-face {
    font-family: "Jockey One";
    src: url("fonts/JockeyOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}  

 body { 
    text-align: center;
    overflow: hidden;
}

#personagem1, #personagem2
{
    position: absolute;
    height: 120px;
    width: 65px;
    display: flex;
    justify-content: center;
}
 
#personagem1Img, #personagem2Img
{
    height: 125px;
    width: 75px;
}
 
#personagem1Img
{
    x: left;
    y: center;
}
 
#powerUp {
    display: none;
    width: 30px;
    height: 30px;
    background-image: url('../images/boost.png'); 
    position: absolute;
    background-size: cover; 
    
}
 
#powerUpAumenta {
    display: none;
    width: 40px;
    height: 30px;
    background-image: url('../images/+Tempo.png');
    position: absolute;
    background-size: cover;  
    
}
 
#powerUpDiminui {
    display: none;
    width: 40px;
    height: 30px;
    background-image: url('../images/-Tempo.png'); 
    position: absolute;
    background-size: cover; 
}
 
/* timer */
.cronometroMinutes{
    margin-left: 17px;
}
 
.cronometroSeconds {
    margin-left: 17px;
}
.doisPontos{
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;

}
 
.info {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}
 
.timer {
    font-family: "Inter", sans-serif;
    font-weight: bold;
}
 
#relogio {
    font-family: "Inter", sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/fundoJogo.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    z-index: -1; 
}

#barreira1{
    position: absolute;
}

#barreira2{
    position: absolute;
}

#barreira3{
    position: absolute;
}

#barreira4{
    position: absolute;
} 

#um{
    position: absolute;
    background-color: #5A2700;
    width: 22px;
    height: 160px;
    margin-top: 60px;
    margin-left: 128px;
}
 
#um1{
    position: absolute;
    background-color: #5A2700;
    width: 150px;
    height: 22px;
    margin-top: 60px;
    margin-left: 150px;
}
 
#dois{
    position: absolute;
    background-color: #5A2700;
    width: 22px;
    height: 210px;
    margin-top: 350px;
    margin-left: 240px;
}
 
#dois1{
    position: absolute;
    background-color: #5A2700;
    width: 360px;
    height: 22px;
    margin-top: 170px;
    margin-left: 450px;
}
 
#tres{
    position: absolute;
    background-color: #5A2700;
    width: 22px;
    height: 260px;
    margin-top: 60px;
    margin-left: 1100px;
}  
 
#tres1{
    position: absolute;
    background-color: #5A2700;
    width: 100px;
    height: 22px;
    margin-top: 215px;
    margin-left: 1000px;
}
 
#quatro1{
    position: absolute;
    background-color: #5A2700;
    width: 22px;
    height: 120px;
    margin-top: 190px;
    margin-left: 480px;
}

#cinco1{
    position: absolute;
    background-color: #5A2700;
    width: 22px;
    height: 80px;
    margin-top: 95px;
    margin-left: 740px;
}