body {
    text-align: center; 
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/fundoJogo.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    z-index: -1; 
}

#um{
    position: absolute;
    background-color: #5A2700;
    width: 60px;
    height: 230px;
    margin-top: 60px;
    margin-left: 120px;
}

#um1{
    position: absolute;
    background-color: #5A2700;
    width: 170px;
    height: 60px;
    margin-top: 40px;
    margin-left: 120px;
}

#dois{
    position: absolute;
    background-color: #5A2700;
    width: 60px;
    height: 180px;
    margin-top: 410px;
    margin-left: 180px;
}

#dois1{
    position: absolute;
    background-color: #5A2700;
    width: 480px;
    height: 60px;
    margin-top: 460px;
    margin-left: 180px;
}

#tres{
    position: absolute;
    background-color: #5A2700;
    width: 60px;
    height: 340px;
    margin-top: 40px;
    margin-left: 1280px;
}   

#tres1{
    position: absolute;
    background-color: #5A2700;
    width: 200px;
    height: 60px;
    margin-top: 200px;
    margin-left: 1140px;
}

#quatro1{
    position: absolute;
    background-color: #5A2700;
    width: 450px;
    height: 60px;
    margin-top: 520px;
    margin-left: 950px;
}